@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.Tuitions.CreateModel
@{
}
<h1>ایجاد یک فیش جدید</h1>
<div class="panel-heading">
    <h3 class="panel-title">Bordered Table</h3>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">

            <div class=" form">
                <form class="cmxform form-horizontal tasi-form"  method="post"  novalidate="novalidate">
                    <input class="form-control" type="hidden" asp-for="tuition.TuitionOwner"
                    value="@Model.StudentId"/>
                   @*  <select class="form-select single-select-field" data-placeholder="Choose one thing"
                            asp-for="tuition.TuitionOwner">
                        @foreach (var item in Model.students)
                        {
                            <option value="@item.Id">@item.Id-@item.FullName-@item.FName-@item.NationalCode</option>
                        }
                    </select> *@

                    <div class="form-group ">
                        <label for="cemail" class="control-label col-lg-2">مبلغ</label>
                        <div class="col-lg-10">
                            <input class="form-control "  type="number"  aria-required="true"
                            asp-for="tuition.TuitionAmount">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="ccomment" class="control-label col-lg-2">توضیحات</label>
                        <div class="col-lg-10">
                            <textarea class="form-control " id="ccomment" name="comment" required="" aria-required="true"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-success waves-effect waves-light" type="submit">Save</button>
                            <button class="btn btn-default waves-effect" type="button">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

