@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.RegisterDetails.PresentAbsentModel
@{
}
@* 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="card">
                <div class="card-header bg-secondary text-light">
                 عملیات
                </div>
                <div class="card-body">
                    <div class="panel-body">
                        <form class="form-inline row" role="form" method="get">
                            <div class="form-group col-3">
                                <input class="form-control m-2" asp-for="searchModel.Fullname" placeholder="نام">
                            </div>
                            <div class="form-group col-3">
                                <input class="form-control m-2" asp-for="searchModel.Username" placeholder="نام کاربری">
                            </div>

                            <div class="form-group col-2">
                                <select class="form-control m-2" asp-for="searchModel.RoleId" asp-items="Model.Roles">
                                    <option value="0">نقش ...</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-secondary btn-sm col-1 m-2">
                                <i class="icon-search"></i>
                                <span>جستجو</span>
                            </button>
                            <a class="btn btn-primary btn-sm col-2 m-2" asp-page="./Index">
                                <i class="icon-wpforms"></i>
                                <span>مشاهده همه</span>
                            </a>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="card">
                <div class="card-header bg-secondary text-light">
                    لیست وضعیت حضور و غیاب این شخص
                </div>

                <div class="card-body p-0">
                    <table id="datatable" class="table table-striped table-bordered m-0">
                        <thead>
                            <tr>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                                <th>توضیحات</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (Model.Registers != null)
                            {
                                foreach (var re in Model.Registers)
                                {
                                    var regItem = Model.accounts.SingleOrDefault(s => s.Id == re.PeopleId);
                                    if (regItem != null)
                                    {
                                        <tr>
                                            <td>
                                                @if (regItem.ProfilePhoto == "unImage.png" || regItem.ProfilePhoto == null)
                                                {
                                                    <img src="~/images/unImage.png" class="profilePhoto" />
                                                }
                                                else
                                                {
                                                    <img src="~/ProfilePictures/@regItem.ProfilePhoto" class="profilePhoto" />
                                                }

                                            </td>
                                            <td>@regItem.FullName</td>
                                            <td>@regItem.FName</td>

                                            <td>
                                                <a class="btn btn-outline-primary btn-sm" asp-page="Certificate" asp-route-Id="@re.Id"
                                                   data-toggle="tooltip" data-placement="top" title="کارنامه">
                                                    <i class="icon-graduation-cap"></i>
                                                    <span>کارنامه</span>
                                                </a>

                                                <a class="btn btn-outline-watermelon btn-sm" asp-page="PresentAbsent" asp-route-Id="@re.Id"
                                                   data-toggle="tooltip" data-placement="top" title="حضور غیاب">
                                                    <i class="icon-ok-circled"></i>
                                                    <span>حضور غیاب</span>
                                                </a>
                                            </td>
                                        </tr>

                                    }

                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div> *@