@page
@model LanguageLandAcademy.Web.Areas.Administration.Pages.Managment.Level.EditModel
@{
}
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="card">
                <div class="card-header">
                    ویرایش
                </div>
                <div class="card-body" id="AddEditPanel">
                    <div class="panel-body">
                        <form class="form-inline d-flex align-items-center row" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="levelItemE.Id" />
                            <div class="form-group m-2 me-0 ms-0 col-4">
                                <label asp-for="levelItemE.Name" class="control-label">نام سطح</label>
                                <input type="text" class="form-control" asp-for="levelItemE.Name">
                                <span asp-validation-for="levelItemE.Name" class="error"></span>
                            </div>

                            <div class="form-group m-2 me-0 ms-0 col-4">
                                <label asp-for="levelItemE.Type" class="control-label">نوع سطح</label>
                                <select class="form-select" asp-for="levelItemE.Type">
                                    <option value="1">عمومی/عادی</option>
                                    <option value="2">عمومی/فشرده</option>
                                    <option value="3">خصوصی/عادی</option>
                                    <option value="4">خصوصی/فشرده</option>
                                </select>
                            </div>

                            <div class="form-group m-2 me-0 ms-0 col-4">
                                <label asp-for="levelItemE.Fee" class="control-label">شهریه سطح</label>
                                <input type="number" class="form-control" asp-for="levelItemE.Fee">
                                <span asp-validation-for="levelItemE.Fee" class="error"></span>
                            </div>

                            <div class="form-group mt-2 col-12">
                                <label asp-for="levelItemE.Description" class="control-label">توضیحات</label>
                                <textarea type="text" class="form-control" asp-for="levelItemE.Description"></textarea>
                                <span asp-validation-for="levelItemE.Description" class="error"></span>
                            </div>
                            <div class="form-group m-2 col-9">
                                <button type="submit" class="btn btn-success waves-effect waves-light col-1 m-2">ذخیره</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>