@page
@model LanguageLandAcademy.Web.Pages.LoginModel
@{
    Layout = "~/Areas/Administration/Pages/Shared/_LayoutLogin.cshtml";
}

<div class="d-flex w-100 h-100 justify-content-center align-items-center">
    <div class="card shadow-lg bg-light border-0 loginCard"> 
        <div class="loginTitle d-flex justify-content-center py-2">
            <span class="fs-5 m-2">ورود به سیستم</span>
        </div>
        @if (Model.LoginMessage != null)
        {
            <div class="alert alert-danger text-center">
                <span class="text-center">@Model.LoginMessage</span>
            </div>
        }

        <div class="d-flex justify-content-center w-100 h-100 align-items-center">
            <form method="post" class="col-8" asp-page-handler="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3">

                    <div class="d-flex flex-row-reverse">
                        <div class="icon-parent d-inline-flex align-items-center px-2" id="UserIdIco">
                            <i class="icon-adult text-white"></i>
                        </div>
                        <input asp-for="login.Username" id="UserIdtxt" class="form-control text-end input_noRounded " type="text" placeholder="شناسه کاربری" />
                    </div>
                    <span asp-validation-for="login.Username" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <div class="d-flex flex-row-reverse">
                        <div class="icon-parent d-inline-flex align-items-center px-2">
                            <i class="icon-lock text-white"></i>
                        </div>
                        <input asp-for="login.Password" id="UserPass" class="form-control text-end input_noRounded" type="password" placeholder="گذرواژه" />
                    </div>
                    <span asp-validation-for="login.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="ورود" class="btn loginBtn" />
                </div>
            </form>
        </div>



    </div>
</div>
