<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - آکادمی سرزمین زبان</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontello/css/fontello.css" />
    <link rel="stylesheet" href="~/css/adminLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LLAcademy.styles.css" asp-append-version="true" />
</head>
<body dir="rtl">
    <div class="wrapper">
        <div class="sideBar">
            <!--profile image and name-->
            <div class="profile">
               <partial name="_CurrentUserPartial" />
            </div>
            <!--Menu Items-->
            <ul>
                <li>
                    <a asp-area="Administration" asp-page="/Accounts/Account/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-adult"></i></span>
                        <span class="items">افراد</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Administration" asp-page="/Accounts/Role/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-user-secret"></i></span>
                        <span class="items">نقش ها</span>
                    </a>
                </li>
                <li>
                    <a asp-area="Administration" asp-page="/Managment/Tuitions/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-money"></i></span>
                        <span class="items">شهریه</span>
                    </a>
                </li>

                <li>
                    <a asp-area="Administration" asp-page="/Managment/Level/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-industry"></i></span>
                        <span class="items">سطح</span>
                    </a>
                </li>

                <li>
                    <a asp-area="Administration" asp-page="/Managment/TermClass/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-object-group"></i></span>
                        <span class="items">کلاسبندی</span>
                    </a>
                </li>
              
                <li>
                    <a asp-area="Admin" asp-page="/Certificates/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-vcard"></i></span>
                        <span class="items">کارنامه</span>
                    </a>
                </li>
      
                <li>
                    <a asp-area="Administration" asp-page="/Managment/TemporaryRegister/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-wpforms"></i></span>
                        <span class="items">پیش ثبت نام</span>
                    </a>
                </li>
        
              @*   <li>
                    <a asp-area="Admin" asp-page="/Users/Index" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-blogger"></i></span>
                        <span class="items">بلاگ</span>
                    </a>
                </li> *@

                <li>
                    <a asp-page="/Login" asp-page-handler="Logout" class="menu-item">
                        <span class="menuBarIcon"><i class="icon-logout"></i></span>
                        <span class="items">خروج</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
